<ion-menu side="end" contentId="main-content">
  <ion-content>
    <ion-list>
      <ion-item (click)="compartilhar()">
        <ion-icon name="share-social-outline" slot="end"></ion-icon>
        <ion-label>Compartilhar</ion-label>
      </ion-item>
      <ion-item (click)="editar()">
        <ion-icon name="pencil-outline" slot="end"></ion-icon>
        <ion-label>Editar</ion-label>
      </ion-item>
      <ion-item (click)="exibeAlertDelete()">
        <ion-icon name="trash-outline" slot="end"></ion-icon>
        <ion-label>Excluir</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header class="ion-justify-content-center">
  <ion-toolbar>
    <div class="fundo-header"style="background-image:url({{handleImg()}})">
      <div class="buttons">
        <ion-icon color="light" size="large" name="chevron-back-outline" (click)="voltar()"></ion-icon>
        <ion-buttons slot="end">
          <ion-menu-button translucent color="light">
            <ion-icon name="ellipsis-vertical" size="large"></ion-icon>
          </ion-menu-button>
        </ion-buttons>
      </div>
      <ion-title class="ion-text-center titulo" color="light">
        <div class="ion-text-wrap">
          {{receita.nome}}
        </div>
      </ion-title>
      <div class="details" style="color: #fff;">
        <p><ion-icon name="hourglass-outline"></ion-icon>{{receita.minutos}} min</p>
        <span>Dificultdade:</span><ion-text style="font-weight: bold;" [ngStyle]="{'color':(selecionaCorDificuldade(receita.dificuldade))}">{{receita.dificuldade}}</ion-text>
        <p><ion-icon name="restaurant-outline"></ion-icon> {{receita.porcoes}} porções</p>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary" id="main-content">
  <ion-card>
    <ion-card-subtitle class="ion-text-center">Ingredientes</ion-card-subtitle>
    <ul style="width: 95%;">
      <li *ngFor="let ingrediente of receita.ingredientes" style="text-align: justify;">
        {{ingrediente.quantidade}} {{ingrediente.unidade}} de {{ingrediente.nome}}
      </li>
    </ul>
    <ion-card-subtitle class="ion-text-center">Modo de preparo</ion-card-subtitle>
    <ol style="width: 95%;">
      <li *ngFor="let preparo of receita.preparo" style="text-align: justify;">
        {{preparo}}
      </li>
    </ol>
  </ion-card>
</ion-content>
