<ion-header>
  <div class="fundo-header"style="
  background-image:url({{categoria.img}});"
  >
    <ion-icon color="light" size="large" name="chevron-back-outline" (click)="voltar()"></ion-icon>
    <ion-title class="titulo ion-text-center" style="font-size: 2rem;"color="light">{{categoria.nome}}</ion-title>
    <div class="ion-text-end">
      <ion-text class="subtitulo" color="light">{{qtdeReceitas(receitas.length)}}</ion-text>
    </div>
  </div>
</ion-header>

<ion-content color="secondary">
  <ion-card class="card" *ngFor="let receita of receitas" (click)="selecionaReceita(receita)">
    <img class="imagem" [src]="receita.img" onError="src='/assets/no_image.png'">
    <ion-card-content class="receita-card">
      <ion-title class="ion-text-center"color="primary">
        <div class="ion-text-wrap">
          {{receita.nome}}
        </div>
      </ion-title>
      <div>
        <div class="details ion-justify-content-center">
          <p><ion-icon name="hourglass-outline"></ion-icon>{{receita.minutos}} min</p>
          <p><ion-icon name="restaurant-outline"></ion-icon> {{receita.porcoes}} porções</p>
        </div>
        <div class="ion-text-center ">
          <span>Dificultdade:</span><ion-text [ngStyle]="{'color':(selecionaCorDificuldade(receita.dificuldade))}">{{receita.dificuldade}}</ion-text>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="adicionarReceita()">
      <ion-icon name="add-outline" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
