<ion-content color="secondary">
  <div class="header" style="background-image:url({{fotoAtual}})">
    <ion-icon color="light" size="large" name="chevron-back-outline" (click)="voltar()"></ion-icon>
    <div class="foto">
      <div class="add-foto">
        <ion-fab-button color="primary" (click)="adicionarFoto()">
          <ion-icon name="camera-outline" size="large"></ion-icon>
        </ion-fab-button>
      </div>
    </div>
  </div>
  <ion-card>
    <ion-card-title class="ion-text-center">Informações</ion-card-title>
    <ion-item lines="none">
      <ion-input placeholder="Nome do prato" [(ngModel)]="receita.nome" required></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Tempo de preparo: </ion-label>
      <ion-input class="ion-text-center" [(ngModel)]="receita.minutos" type="number"></ion-input>
      <ion-label>minutos</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Rendimento: </ion-label>
      <ion-input class="ion-text-center" [(ngModel)]="receita.porcoes" type="number"></ion-input>
      <ion-label>porções</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Dificuldade:</ion-label>
      <ion-select placeholder="Selecione..." interface="popover" [(ngModel)]="receita.dificuldade">
        <ion-select-option value="Fácil">Fácil</ion-select-option>
        <ion-select-option value="Médio">Médio</ion-select-option>
        <ion-select-option value="Difícil">Difícil</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card class="ingredientes">
    <ion-card-title class="ion-text-center">Ingredientes</ion-card-title>
    <ion-grid>
      <ion-row *ngFor="let ingredienteItem of receita.ingredientes">
        <ion-col size="1.5" class="ion-text-center">
          {{ingredienteItem.quantidade}}
        </ion-col>
        <ion-col size="3" class="ion-text-center">
          {{ingredienteItem.unidade}}
        </ion-col>
        <ion-col size="6.5">
          {{ingredienteItem.nome}}
        </ion-col>
        <ion-col size="1" class="ion-text-center">
          <ion-icon name="close-outline" (click)="removeIngrediente(ingredienteItem.nome)"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2" class="ion-text-center">
          <ion-input type=number [(ngModel)]="ingrediente.quantidade" placeholder="qtd" class='input'></ion-input>
        </ion-col>
        <ion-col size="3.5" class="ion-text-center">
          <ion-select placeholder="unidade" [(ngModel)]="ingrediente.unidade" interface="popover">
            <ion-select-option value="cl. café">cl. café</ion-select-option>
            <ion-select-option value="cl. chá">cl. chá</ion-select-option>
            <ion-select-option value="cl. sopa">cl. sopa</ion-select-option>
            <ion-select-option value="copo(s)">copo(s)</ion-select-option>
            <ion-select-option value="grama(s)">grama(s)</ion-select-option>
            <ion-select-option value="kilo(s)">Kilo(s)</ion-select-option>
            <ion-select-option value="pitada(s)">pitada(s)</ion-select-option>
            <ion-select-option value="unidade(s)">unidade(s)</ion-select-option>
            <ion-select-option value="xícara(s)">xícara(s)</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col size="6.5">
          <ion-input type="text" [(ngModel)]="ingrediente.nome" placeholder="ingrediente"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-icon name="add-outline" size="large" (click)="adicionarIngrediente()"></ion-icon>
  </ion-card>

  <ion-card class="preparo">
    <ion-card-title class="ion-text-center">Modo de preparo</ion-card-title>
    <ion-grid>
      <ion-row *ngFor="let passo of receita.preparo; let i = index">
        <ion-col size="2" class="ion-text-center">
          {{i+1}}
        </ion-col>
        <ion-col size="9">
          {{passo}}
        </ion-col>
        <ion-col size="1" class="ion-text-center">
          <ion-icon name="close-outline" (click)="removePreparo(passo)"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col >
          <ion-input type="text" placeholder="Descreva o passo" size="50" [(ngModel)]="preparo"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-icon name="add-outline" size="large" (click)="adicionaPreparo()"></ion-icon>
  </ion-card>
  <ion-button color="primary" expand="full" shape="round" (click)="salvarReceita()">
    <ion-icon name="save-outline"></ion-icon>
     Salvar receita
  </ion-button>

</ion-content>
